{% extends "pagetemplate.html" %}

{% block content %}
<h1>Личный кабинет</h1>
<h5>
{% if accinfo[3] == 1 %}
  Привет,
{% else %}
  Здравствуйте,
{% endif %}
{{ accinfo[4] }} {{ accinfo[5] }}!</h5>
<br>
{% if accinfo[3] == 1 %}
<a href="/schedule">Расписание</a>
<a href="/marks">Мои оценки</a>
{% elif accinfo[3] == 2 %}
<a href="/schedule">Расписание</a>
<a href="/class">Ученики</a>
{% elif accinfo[3] == 3 %}
<p>Ваша роль: Администратор</p>
{% else %}
<h3>У вас нет доступа к функционалу сайта!</h3>
<p>Администрация электронного дневника должна назначить вам роль.<br>Пожалуйста, ожидайте...</p>
{% endif %}
<a href="/quit">Выйти</a>
{% endblock %}