{% extends "pagetemplate.html" %}

{% block content %}
<div style="width:95%;margin-bottom: 15px;margin: 0 auto">
<h3>Добро пожаловать!</h3>
<p>Вы находитесь на сайте электронного дневника "Яндекс Дневник".</p>
<p>Данный проект создан во время прохождения дополнительной образовательной программы "Основы программирования на языке Python" в рамках проекта "Лицей Академии Яндекса", проводимого на базе центра цифрового образования детей "IT-куб" г. Липецка.</p>
<br>
<div>
<a href="https://it-cube48.ru"><img style="width:35%" src="https://cdn.glitch.global/2bd82fef-921c-4ac4-9240-a3a0380407b9/itcube.png"/></a>
<a href="https://yandex.ru"><img style="width:35%" src="https://cdn.glitch.global/2bd82fef-921c-4ac4-9240-a3a0380407b9/yandex.png"/></a>
</div>
<div>
<a href="https://vk.com/nekitbelkin"><img style="width:10%;min-width: 80px" src="https://cdn.glitch.global/2bd82fef-921c-4ac4-9240-a3a0380407b9/nikita.jpg"/></a>
</div>
</div>
<footer class="mt-auto">
    <div style="text-align: center;color:#8c8c8c">
        <p>Яндекс.Дневник не является официальный сервисом <a href="https://yandex.ru"> экосистемы «Яндекс»</a>.</p>
<p>Права на товарный знак "ЯНДЕКС" и другие материалы, такие как логотип, шрифты и другие, принадлежат <a href="https://yandex.ru">ООО «Яндекс»</a></p>
    </div>
</footer>
{% endblock %}