{% extends "pagetemplate.html" %}

{% block content %}
<h3>Главная страница</h3>
<br>
<h4>Добро пожаловать!</h4>
<p>Вы находитесь на сайте электронного дневника "Яндекс Дневник".</p>
<script>
    $(document).scroll(function() {
      navbarScroll();
    });

    function navbarScroll() {
      var y = window.scrollY;
      if (y > 10) {
        $('.header').addClass('small');
      } else if (y < 10) {
        $('.header').removeClass('small');
      }
    }

    navbarScroll();
    </script>
{% endblock %}