{% extends "pagetemplate.html" %}

{% block content %}
<h1>Расписание</h1>
<br>
<h5>Учебная неделя с <strong>{{ startdate }}</strong> по <strong>{{ enddate }}</strong></h5>
<br>
<div style="margin-bottom: 15px">
<a style="display:inline" href="">⬅ Прошлая неделя</a> <a style="display:inline" href="">Текущая неделя</a> <a style="display:inline" href="">Следующая неделя ➡</a>
</div>
<div style="width:90%;margin: 0 auto">
<h6 style="text-align:left"><strong>{{ date }}</strong></h6>
<table class="table table-striped table-hover table-bordered">
	<thead><tr>
		<th style="width: 15%;">Предмет</th>
		<th style="width: 30%;">Тема урока</th>
		<th style="width: 20%;">Домашнее задание</th>
		<th style="width: 10%;">Оценка</th>
		<th style="width: 10%;">Посещаемость</th>
	</tr></thead>
    <tbody>
      <tr><td>Литература</td>
		<td>Подробнее о сносках.</td>
        <td><p>Не задано.</p></td>
		<td><span data-toggle="tooltip" data-placement="top" title="" class="label label-success" data-original-title="Работа на уроке">5</span></td>
		<td></td>
      </tr>
	</tbody>
</table>
</div>
{% endblock %}